{% extends 'base.html' %}
{%load static%}
{% load socialaccount %}

{% block title %}
Home
{%endblock%}

{%block container%}
{% if user.is_authenticated %}
<h2>Hello {{user.username}}!</h2>
<br>

<div >
    {% if waiting_for_approval %}
    <h4 class="text-success">Opponent has to approve</h4>
    <table class="table table-bordered border-success">
        <tr>
            <th></th>
              <th>Event</th>
              <th>Result</th>
              <th>Secondary</th>
              <th>Points</th>
              <th>Score</th>
              <th>Opponent</th>
        </tr>
         {% for result in waiting_for_approval %}
        <tr>
            <td><a class="btn btn-outline-success" href="{% url 't9a:approve-result' pk=result.id %}">Approve</a></td>
            <td>{{result.game.event}}</td>
            <td>{{result.myself.get_result_display}}</td>
            <td>{{result.myself.get_secondary_display}}</td>
            <td>{{result.myself.points}}</td>
            <td>{{result.myself.score}} : {{result.score}}</td>
            <td>{{result.player}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>


<div >
    {% if to_be_approved   %}
    <h4 class="text-danger">I have to approve</h4>
    <table class="table table-bordered border-danger">
        <tr>
            <th></th>
              <th>Event</th>
              <th>Result</th>
              <th>Secondary</th>
              <th>Points</th>
              <th>Score</th>
              <th>Opponent</th>
        </tr>
         {% for result in to_be_approved %}
        <tr>
            <td><a class="btn btn-outline-danger" href="{% url 't9a:approve-result' pk=result.id %}">Approve</a></td>
            <td>{{result.game.event}}</td>
            <td>{{result.get_result_display}}</td>
            <td>{{result.get_secondary_display}}</td>
            <td>{{result.points}}</td>
            <td>{{result.score}}:{{result.opponent.score}}</td>
            <td>{{result.opponent.player}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<div>
    <h4>Ranking</h4>
  <table class="table table-bordered">
{% for r in rankings%}

    <tr>
      <th> </th>
      <th class="win">w</th>
      <th class="draw">d</th>
      <th class="loose">l</th>
      <th> Games </th>
      <th>Total score</th>
      <th>Avg. score</th>
    </tr>
    {% for result in r %}
    <tr>
      <td class="">{{result.object}}</td>
      <td class="win">{{result.win}}</td>
      <td class="draw">{{result.draw}}</td>
      <td class="loose">{{result.loose}}</td>
      <td class="">{{result.games}}</td>
      <td>{{result.sum}}</td>
      <td>{{result.avg | floatformat:2 }}</td>
    </tr>
    {% endfor %}

{% endfor %}
  </table>
</div>
{% endif %}


{% endblock %}



