{% extends 'base.html' %}
{%load static%}
{% load socialaccount %}

{% block title %}
Home
{%endblock%}

{%block container%}
{% if user.is_authenticated %}
<h2>Hello {{user.username}}!</h2>
{% if not user_renamed %}
<br/>
First login? You can <a class="btn btn-outline-success" href="{% url 't9a:my-account' %}">rename</a> your user or <a class="btn btn-outline-danger" href="{% url 't9a:my-account' opt='disregard' %}">disregard</a> this message.
<br/>
{% endif %}
<br>

<div >
    {% if list_to_be_added   %}
    <h4 class="text-danger">I have to add list</h4>
    <table class="table table-bordered border-danger">
        <thead>
        <tr>
            <th></th>
              <th>Event</th>
              <th>Opponent</th>
        </tr>
        </thead>
        <tbody>
         {% for result in list_to_be_added %}
        <tr>
            <td><a class="btn btn-outline-danger" href="{% url 't9a:add-list-to-result' pk=result.id %}">Add List</a></td>
            <td>{{result.game.event}}</td>
            <td>{{result.opponent.player}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
<div >
    {% if half_results %}
    <h4 class="text-warning">Add points</h4>
    <table class="table table-bordered border-warning">
        <thead>
        <tr>
            <th></th>
              <th>Event</th>
              <th>Opponent</th>
        </tr>
        </thead>
        <tbody>
         {% for result in half_results %}
        <tr>
            <td><a class="btn btn-outline-warning" href="{% url 't9a:add-units-points' pk=result.game.id %}">Add points</a></td>
            <td>{{result.game.event}}</td>
            <td>{{result.opponent.player}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
<div >
    {% if waiting_for_approval %}
    <h4 class="text-success">Opponent has to approve</h4>
    <table class="table table-bordered border-success">
        <tr>
            <th></th>
              <th>Event</th>
              <th>Result</th>
              <th>Secondary</th>
              <th>Points</th>
              <th>Score</th>
              <th>Opponent</th>
        </tr>
         {% for result in waiting_for_approval %}
        <tr>
            <td><a class="btn btn-outline-success" href="{% url 't9a:approve-result' pk=result.id %}">Approve</a></td>
            <td>{{result.game.event}}</td>
            <td>{{result.myself.get_result_display}}</td>
            <td>{{result.myself.get_secondary_display}}</td>
            <td>{{result.myself.points}}</td>
            <td>{{result.myself.score}} : {{result.score}}</td>
            <td>{{result.player}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>


<div >
    {% if to_be_approved   %}
    <h4 class="text-danger">I have to approve</h4>
    <table class="table table-bordered border-danger">
        <thead>
        <tr>
            <th></th>
              <th>Event</th>
              <th>Result</th>
              <th>Secondary</th>
              <th>Points</th>
              <th>Score</th>
              <th>Opponent</th>
        </tr>
        </thead>
        <tbody>
         {% for result in to_be_approved %}
        <tr>
            <td><a class="btn btn-outline-danger" href="{% url 't9a:approve-result' pk=result.id %}">Approve</a></td>
            <td>{{result.game.event}}</td>
            <td>{{result.get_result_display}}</td>
            <td>{{result.get_secondary_display}}</td>
            <td>{{result.points}}</td>
            <td>{{result.score}}:{{result.opponent.score}}</td>
            <td>{{result.opponent.player}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% include 'rankings_template.html' %}
{% else %}
<h2>Please <a href="{% provider_login_url 'google' %}">login</a> to view site contents</h2>
{% endif %}


{% endblock %}



