{% extends 'base.html' %}

{% block title %}
  Lists
{% endblock %}

{% block container %}
<a class="btn btn-primary" href="{% url 't9a:add-list' %}" role="button">Add list</a>
<br>
<br>
<ol>
{% for list in lists %}
<li>
    {{list}} <a class="btn btn-success btn-sm" href="{% url 't9a:add-list' pk=list.id %}">Edit list</a>
    {% if not list.parsed %}
    <a class="btn btn-primary btn-sm" href="{% url 't9a:parse-list' pk=list.id %}" role="button">Parse list</a>
    {% else %}
    <b>Parsed</b>
    {% endif %}
    {% if list.uses_supplement %}uses supplement{% endif %}
  <pre>{{list.list}}</pre>
</li>
  {% endfor%}
</ol>
{% endblock %}

