<div>
    <h4>Rankings</h4>

{% for r in rankings%}
    {% if r.sortable%}
      <script>
          $(document).ready(function () {
            $('#{{r.id}}').DataTable();
          });
  </script>
    {% endif %}
    {{r.name}}
<table id="{{r.id}}" class="table table-bordered" data-order='[[ 2, "desc", 3, "desc", 4, "asc"]]'>
    <thead>
    <tr>
      <th style="width: 35%"> </th>
      <th class="win">w</th>
      <th class="draw">d</th>
      <th class="loose">l</th>
      <th> Games </th>
      <th>Total score</th>
      <th>Avg. score</th>
    </tr>
    </thead>
    <tbody>
    {% for result in r.ranking %}
    <tr>
        <td class=""><a href="{% url 't9a:results' pk=result.pk  %}"> {{result.object}} </a></td>
      <td class="win">{{result.win}}</td>
      <td class="draw">{{result.draw}}</td>
      <td class="loose">{{result.loose}}</td>
      <td class="">{{result.games}}</td>
      <td>{{result.sum}}</td>
      <td>{{result.avg | floatformat:2 }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endfor %}
</div>