<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> t9a {% block title %} {% endblock %}</title>

    {%block styles%}
        <link rel="stylesheet" href="{% static './css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static './css/custom.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    {%endblock%}

    {%block scripts%}
        <script src="{% static './js/bootstrap.min.js' %}" async defer></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    {%endblock%}
    <link rel="icon" type="image/svg+xml" href="{% static './images/onion-CoA.svg' %}" id="favicon-svg">
</head>
<body>
<br>
{% include 'menu.html'%}
</br>
<div class="container">
    <div class="row">
        <div class="col">
        {% block container %}

        {% endblock %}
        </div>
    </div>
</div>
</body>
</html>