{% load static %}
{% load socialaccount %}

<nav class="navbar" style="background-color:#6f42c1">

  <div class="container-fluid">
    <a href="{% url 't9a:home' %}"><img src="{% static './images/onion-CoA-32x32.png' %}"/></a>
    <h2 class="text-light">{{head}}</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 't9a:home' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">Welcome, You are logged in as {{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 't9a:add-game' %}"><b>Add game</b></a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="{% url 't9a:add-short-game' %}"><b>Add short game</b></a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 't9a:results' %}">My results</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 't9a:lists' %}">My lists</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 't9a:my-account' %}">My account</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="{% url 't9a:add-list' %}">Add list</a>
        </li>
        -->
         <li class="nav-item">
          <a class="nav-link" href="{% url 't9a:list-groups' %}">List groups</a>
        </li>
             <li class="nav-item">
          <a class="nav-link" href="{% url 't9a:logout' %}">LogOut</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% provider_login_url 'google' %}">Login With Google</a>
        </li>
        {% endif %}
        {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 't9a:all-results' %}">All results</a>
            </li>
            {% endif %}
      </ul>
    </div>
  </div>
</nav>
